@theme {
  --color-mint-50: oklch(0.92 0.11 178);
  --color-mint-100: oklch(0.82 0.11 178);
  --color-mint-200: oklch(0.72 0.11 178);
  --color-mint-300: oklch(0.62 0.11 178);
  --color-mint-400: oklch(0.52 0.11 178);
  --color-mint-500: oklch(0.42 0.11 178);
  --color-mint-600: oklch(0.32 0.11 178);
  --color-mint-700: oklch(0.22 0.11 178);
  --color-mint-800: oklch(0.42 0.11 178);
  --color-mint-900: oklch(0.32 0.11 178);     
}