@theme {
  --color-mint-50: oklch(0.92 0.11 178);
  --color-mint-100: oklch(0.82 0.11 178);
  --color-mint-200: oklch(0.72 0.11 178);
  --color-mint-300: oklch(0.62 0.11 178);
  --color-mint-400: oklch(0.52 0.11 178);
  --color-mint-500: oklch(0.42 0.11 178);
  --color-mint-600: oklch(0.32 0.11 178);
  --color-mint-700: oklch(0.22 0.11 178);
  --color-mint-800: oklch(0.42 0.11 178);
  --color-mint-900: oklch(0.32 0.11 178);     
}

@utilities {
  .text-color-1 { color: hsl(var(--color-1)); }
  .text-color-2 { color: hsl(var(--color-2)); }
  .text-color-3 { color: hsl(var(--color-3)); }
  .text-color-4 { color: hsl(var(--color-4)); }
  .text-color-5 { color: hsl(var(--color-5)); }

  .bg-color-1 { background-color: hsl(var(--color-1)); }
  .bg-color-2 { background-color: hsl(var(--color-2)); }
  .bg-color-3 { background-color: hsl(var(--color-3)); }
  .bg-color-4 { background-color: hsl(var(--color-4)); }
  .bg-color-5 { background-color: hsl(var(--color-5)); }
}